@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
  }


/* Font section 
___________________________ */

/* Shared Style  */
* {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}
.span-color {
    color: rgb(255, 66, 165);
}



/* Nav title bar section starts 
________________________________________ */
nav {
    /* border: 1px solid black; */
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding: 25px 0;
}

.gamer-portion {
    /* border: 1px solid gold; */
    align-items: center;
    gap: 15px;
    padding-left: 10%;
}
.gamer-logo{
    width: 3.8rem;
    height: fit-content;
}

.gamer-title {
    font-size: 2rem;
    font-weight: 700;
}

.about-us-portion {
    gap: 25px;
    padding-right: 10%;
    align-items: center;
}
.about-us-list {
    color: rgb(60, 53, 79);
    font-size: 1rem;
    font-weight: 500;
}

.follow-us-portion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid gray; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    /* padding: 10px; */
    padding: 10px 20px;
}

/* nav title section complete  */


/* G.O.A.T section starts 
___________________________ */

  .goat-section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    background: url(./images-2/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:left;
  }

  .goat-play-like-portion {
   padding-top: 3.5rem;
  }

  .goat-play-like-portion h3 {
    /* border: 1px solid black; */
    font-size: 2rem;
    font-weight: 600;
    color: rgb(11, 2, 35);
    padding-bottom: 4px;
  }
  .goat-play-like-portion h1 {
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 4.65rem;
    font-weight: 800;
    padding-bottom: 1.25rem;
  }

  .goat-left-item-container {
    /* border: 2px solid green; */
    margin-bottom: 2.25rem;

  }
  .goat-left-item {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    gap: 2px;
  }
 .goat-left-item i {
    width: 25px;
}

  .goat-sign-in-button {
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 12px 35px;
    font-size: .85rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .goat-go-rogue-btn {
    border-radius: 48px;
    background: rgb(78, 197, 247);
    padding: 12px 30px;
    font-size: .85rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
  }



.goat-img-portion {
    width: 30%;
}
.goat-img {
    width: 100%;
    height: fit-content;
}

  

/* Gamer section 
_________________________ */

.we-are-gamer-section {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 5%;
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    padding: 3rem 0;

}

.gamer-section-right-container {
    /* border: 2px solid green; */
    width: 40%;
}

.gamer-section-right-title {
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.35rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    text-align: right;
}

.gamer-section-right-description {
    color: rgb(83, 76, 100);
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}
.gamer-section-btn {
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 12px 35px;
    font-size: .85rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    /* align-items: right; */
    /* margin-left: 100%; */
    position: relative;
    float: right;
    margin-top: 1.85rem;
  }

  .gamer-our-purpose {
    text-align: right;
    margin-top: 6rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .gamer-our-purpose span {
    font-size: 1.85rem;
    font-weight: 700;
  }


.gamer-section-img-container {
    /* border: 1px solid rgb(15, 15, 7); */
    width: 40%;
}
.gamer-section-img {
    /* border: 1px solid rgb(231, 231, 124); */

    width: 300px ;
    width: 100% ;
    height: fit-content;
    position: relative;
    float: right;
}


  /* Funny videos section 
  ______________________________ */

  .funny-videos-section {
    /* border: 1px solid black; */
    margin-top: 6rem;
    padding-bottom: 3rem;

  }

  .funny-videos-title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: .9rem;
  }
  .funny-videos-title span {
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
  }

  .funny-videos-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(83, 76, 100);
    text-align: center;
    margin-bottom: 2.25rem;
  }

.card-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    /* border: 2px solid green; */
    width: 20%;
}

.card-img,
.card-img-bg {
    width: 90%;
    height: 320px;
    padding-bottom: 1.25rem;
}
.card-img-bg {
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.6); 
    background-image: url(images-2/card-4.png); 
    background-blend-mode: overlay; 
    border: 3px solid  rgb(255, 66, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-icon {
    font-size: 40px;
    margin-bottom: .9rem;
}
.watch-now {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 66, 165);
}



/* play instantly section  
____________________________*/
.play-instantly-section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */
    width: 75%;
    height: 35rem;
    margin: 0 auto;
}

.play-section-left-content {
    /* border: 2px solid greenyellow; */
    width: 30%;
}

.play-section-img-container{
    /* border: 2px solid yellow; */
    width: 60%;
    position: relative;
}
.play-img-1 {
    position: absolute;
    z-index: 0;
    right: 60px;
    top: -200px;
    
}
.play-img-2 {
    position: absolute;
    z-index: 1;
    /* right: 200px; */
    left: 140px;
    top: -30px;
}
  
  .play-img-1 {
    width: 300px;
    height: fit-content;
  }
  .play-img-2 {
    width: 200px;
    height: fit-content;
  }

.play-section-title {
    font-size: 2.25rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
}
.play-section-title span {
    color: rgb(249, 72, 178);
}
.play-section-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(83, 76, 100);

}


  
  
/* play games section 
_________________________ */
.online-games-section {
    /* border: 2px solid black; */
    width: 80%;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.online-games-img-container {
    /* border: 2px solid green; */
    width: 60%;
    position: relative;
}
  
  .online-img01 {
    width: 300px;
    height: fit-content;
    position: absolute;
    z-index: 0;
    top: -200px;
    left: 100px;

  }
  .online-img02 {
    width: 200px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    left: 260px;
    top: -25px;
  }





  /* Career section  */
  .career-section {
    /* border: 1px solid black; */
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 5rem 7rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .career-left-container {
    /* border: 2px solid greenyellow; */
    width: 60%;
    padding-right: 2.5rem;

  }

  .career-left-container h1 {
    color: rgb(255, 255, 255);
    font-size: 2.15rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .career-left-container p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
  }


  .career-list-container {
    display: flex;
    justify-content: space-between;

  }
  
  .career-list-container-right {
    /* border: 1px solid green; */
    text-align: right;
  }


  .career-list {
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.15rem;
    font-weight: 600;
    /* padding: 50px; */
  }

  .career-list li {
    padding: 5px 0;
  }

  .career-btn {
    padding: 15px 30px;
    color: rgb(255, 66, 165);
    background: white;
    border-radius: 2rem;
    border: none;
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 2rem;

  }

  
  .career-img-container {
    /* border: 2px solid beige; */
    width: 50%;
    height: fit-content;
  }

  .career-img {
    /* border: 2px solid gold; */
    /* width: 400px; */
    width: 100%;
    height: fit-content;
  }













































  





  /* Games list section 
  ____________________________ */

  .games-section {
    /* border: 2px solid green; */
    height: 300px;
    /* width: 95%; */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;

    /* grid-template-columns: repeat(20, 45px); */

    grid-template-areas: 
    "a1 a1 a1 a1 a2 a2 a2 a2 a3 a3 a3 a3 a4 a4 a4 a4 a5 a5 a5 a5"    
    "a6 a6 a6 a6 a6 a7 a7 a7 a7 a7 a8 a8 a8 a8 a8 a9 a9 a9 a9 a9"    
    ;
  }

  .game-card-1{
    grid-area: a1;
    border: 2px solid black;
  }
  .game-card-2 {
    grid-area: a2;
    border: 2px solid black;
  }
  .game-card-3{
    grid-area: a3;
    border: 2px solid black;
  }
  .game-card-4{
    grid-area: a4;
    border: 2px solid black;
  }
  .game-card-5  {
    grid-area: a5;
    border: 2px solid black;
  }
  .game-card-6{
    grid-area: a6;
    border: 2px solid black;
  }
  .game-card-7{
    grid-area: a7;
    border: 2px solid black;
  }
  .game-card-8{
    grid-area: a8;
    border: 2px solid black;
  }
  .game-card-9{
    grid-area: a9;
    border: 2px solid black;
  }





.g-card {
    /* width: 15%; */
    display: flex;
    border-radius: 50px;
    background: rgb(255, 255, 255);


    width: 100%;
    /* width: 200px; */
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 7px;


}
.g-card img {
    width: 13%;
    height: fit-content;
}
.g-card p {
    color: rgb(11, 2, 35);
    font-size: .8rem;
    font-weight: 600;
}


  















































/* footer section 
_____________________________ */
  footer {
    background: rgb(11, 2, 35);
    padding: 7rem 0;
  }

  .footer-head {
    /* border: 1px solid wheat; */
    /* width: fit-content; */
    justify-content: center;
    padding: 0;
    padding-bottom: 3rem;
  }
  .footer-head h3 {
    color: white;
  }


  .footer-items-list {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 4%;
  }
  .footer-items {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
  }

  
.footer-logo {
    /* align-items: center; */
    text-align: center;
    /* padding: 5%; */
}
.footer-logo i {
    padding: 3rem 1.5%;
    font-size: 2rem;
}

.privacy-container {
    /* border: 1px solid beige; */
    display: flex;
    justify-content: center;
    gap: 4%;
}
.privacy-container p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 1.75rem;
}



  



  
@media screen and (max-width: 480px) {

/* flex direction */
nav,
.about-us-portion {
    flex-direction: column;
}



/* nav section  */
.gamer-portion {
    padding: 3rem 0 2rem 3rem;

}

.about-us-portion {
    padding: 0;
}
.follow-us-portion {
    margin-top: 1rem;
}


/* goat section  */

.goat-section {
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
}
.goat-img-portion {
    width: 70%;
    margin-top: 2rem;
}

.goat-play-like-portion {
    padding-left: 1rem;
}



/* we are gamer section  */

.we-are-gamer-section {
    flex-direction: column;
    padding: 0;
}
.gamer-section-img-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}
.gamer-section-right-container {
    /* padding: 0; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gamer-section-right-title{
    text-align: center;
    padding-top: 1rem;
}
.gamer-section-right-description{
    text-align: center;
}



.gamer-our-purpose {
    /* border: 1px solid green; */
    margin-top: 0;
    padding: 3rem 0;
    text-align: center;
}


/* Online funny videos section  */
.funny-videos-title {
    font-size: 1.5rem;
    margin-top: 0;
}
.funny-videos-description {
    font-size: .75rem;
}

.card-container {
    flex-direction: column;
    /* border: 2px solid black; */
}
.card {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description {
    /* border: 1px solid green; */
    text-align: center;
}


/* play instantly section  */
.play-instantly-section {
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: start;
    height: 37rem;
}

.play-section-left-content {
    /* border: 2px solid gold; */
    width: 90%;
    /* align-items:end; */
}
.play-section-title {
    text-align: center;
}
.play-section-description {
    text-align: center;
}

.play-section-img-container {
    /* border: 2px solid gold; */
    width: 100%;
}

.play-img-1 {
    width: 65%;
    top: 20px;
    right: 35px;
    top: 25px;
    
}
.play-img-2{
    top: 170px;
    left: 30px;
    width: 40%;
}


/* Online games section  */
.online-games-section {
    /* border: 2px solid black; */
    flex-direction: column-reverse;
    justify-content: start;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.online-img01 {
    width: 80%;
    top: 25px;
    left: -20px;
}

.online-img02 {
    width: 50%;
    top: 120px;
    left: 100px;
}



/* career section  */

.career-section {
    padding: 5rem 3rem;
    flex-direction: column;
}
.career-left-container {
    /* border: 2px solid wheat; */
    width: 95%;
}
.career-left-container p {
    text-align: justify;
    font-size: .85rem;
}

ul li {
    font-size: .9rem;
}
.career-img-container {
    width: 100%;
    margin-top: 2rem;
    
}




/* game section  */

.games-card-container-line01 {
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 2rem;
}
.cards-line01 {
    flex: 1 1 30%; 
    max-width: 25%;
    
}
.games-card-container-line02 {
    flex-wrap: wrap;
    gap: 40px;
    padding: 2rem;
}
.cards-line01 {
    flex: 1 1 30%; 
    max-width: 25%;
}



/* footer  */

.footer-items-list {
    /* border: 2px solid wheat; */
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.footer-items {
    font-size: .8rem;
    flex: 1 1 30%; 
    text-align: center;
}

.privacy-container {
 /* border: 2px solid wheat; */
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.privacy-container p {
    font-size: .8rem;
    flex: 1 1 30%; 
    text-align: center;
}

.copyright-text {
    text-align: center;
}

.gamer-portion {
    /* border: 2px solid gold; */
    width: fit-content;
    margin: 0 auto;
    padding: 2rem 0;
}


}


  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  



  